<app-navbar></app-navbar>
<div class="head-container mx-5" *ngIf="true">
    <h1 class="header mt-* mt-sm-* mt-md-*" id="h1">Mille Idee</h1>
    <!-- <hr id="hr1"> -->
    <img src="favicon.ico" alt="Needle" width="52" height="52">
    <!-- <img src="assets/img/needle-64.ico" alt="Bootstrap" width="52" height="52"> -->
    <h3 class="header" id="h2">- di Anna Maria Bonacci -</h3>
</div>
<!-- <div class="line"></div> -->
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-home></app-home>
<app-footer></app-footer>