@import url('https://fonts.googleapis.com/css2?family=Carme&family=Rouge+Script&display=swap');

.card-img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

/* .card {
    width: 70%;
} */

.card-title {
    font-size: 60px;
    /* font-family: "Chalkduster"; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* padding-top: 65px; */
}

/* .lnk:hover {
    opacity: 0.8;
} */

.lnk:hover .card {
    /* opacity: 0.85; */
    /* filter: blur(1px); */
    filter: brightness(85%);
}

.lnk {
    transition: .5s ease-in-out;
}

.lnk:hover .middle {
    opacity: 1;
    /* filter: brightness(90%); */
    /* color: white; */

}

.lnk:hover .card-title {
    opacity: 0;
}

.middle {

    font-size: 35px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* #h2 {
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: "Gill Sans";
    margin-bottom: 15px;
    box-shadow: 0 3px 3px #0a3873;
    
    background-color: #406094;
    border-radius: 10px;
    
} */

.cont {
    /* background-color: #305fab; */
    /* background-color: #203c73; */
    /* background-color: #6387bf; */

    margin-top: 20px;

}

.d-grid {
    /* background: linear-gradient(110deg, #113d5e 60%, white 60%); */
    /* background-color: #406094; */
    /* background-color: #6387bf; */
    background-color: #678ac2;
    /* background: linear-gradient(110deg, #d5dfee 60%, #113d5e 60%); */
    /* background-color: #2b89b1; */
    border-top: 5px solid #181e4f;
    margin-top: 60px;
}

.title-cont {
    border-bottom: 2px solid #eef1f5;
    margin-bottom: 2px;
}

/* #h2 {
    text-align: center;
    color: rgb(9, 11, 73);
    font-size: 65px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} */
#h2 {
    /* color: #CEF0D4; */
    color: #fcfeff;
    font-family: 'Rouge Script', cursive;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}

p {
    color: #FFFFFF;
    font-family: 'Carme', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

@media (max-width:500px) {
    .card-title {
        font-size: 40px;
    }
}

@media (max-width:300px) {
    .card-title {
        font-size: 20px;
    }
}

@media (max-width:991px) {
    .d-grid {
        margin-top: 100px;
    }
}



/* .title {
    
} */