<hr>

<div class="d-grid cont">
    <div class="title">
        <h1 class="container mx-auto" id="h2">Prodotti</h1>
    </div>
    <div class="cont">
        <a class="lnk" routerLink="/lista-p">
            <div class="card mx-2 mb-3 pb-0 bg-dark text-white">
                <img src="assets/img/Filati1000.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Lana</h5>
                </div>
                <div class="middle">
                    <div class="text">Visualizza</div>
                </div>
            </div>
        </a>
    </div>
    <hr>
    <div class="cont">
        <a class="lnk" href="">
            <div class="card mx-2 mb-3 pb-0 bg-dark text-white">
                <img src="assets/img/lana2.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Tessuti</h5>
                </div>
                <div class="middle">
                    <div class="text">Visualizza</div>
                </div>
            </div>
        </a>
    </div>
    <hr>
    <div class="cont">
        <a class="lnk" href="">
            <div class="card mx-2 mb-3 pb-0 bg-dark text-white">
                <img src="assets/img/lana.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Filati</h5>
                </div>
                <div class="middle">
                    <div class="text">Visualizza</div>
                </div>
            </div>
        </a>
    </div>
    <!-- <hr>
    <div class="cont">
        <a class="lnk" href="">
            <div class="card mx-2 mb-3 pb-0 bg-dark text-white">
                <img src="assets/img/lana2.jpeg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Spago</h5>
                </div>
                <div class="middle">
                    <div class="text">Visualizza</div>
                </div>
            </div>
        </a>
    </div> -->
    <hr>
    <div class="cont">
        <a class="lnk" href="">
            <div class="card mx-2 mb-3 pb-0 bg-dark text-white">
                <img src="assets/img/divano2.webp" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Merceria</h5>
                </div>
                <div class="middle">
                    <div class="text">Visualizza</div>
                </div>
            </div>
        </a>
    </div>
    <hr>
    <div class="cont">
        <a class="lnk" href="">
            <div class="card mx-2 mb-3 pb-0 bg-dark text-white">
                <img src="assets/img/divano.webp" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title py-auto">Intimo</h5>
                </div>
                <div class="middle">
                    <div class="text">Visualizza</div>
                </div>
            </div>
        </a>
    </div>

    <hr>