.card-img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

/* .card {
    width: 70%;
} */

.card-title {
    font-size: 60px;
    /* font-family: "Chalkduster"; */
    font-family: "Gill Sans";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* padding-top: 65px; */
}

/* .lnk:hover {
    opacity: 0.8;
} */

.lnk:hover .card {
    /* opacity: 0.85; */
    /* filter: blur(1px); */
    filter: brightness(85%);
}

.lnk {
    transition: .5s ease-in-out;
}

.lnk:hover .middle {
    opacity: 1;
    /* filter: brightness(90%); */
    /* color: white; */

}

.lnk:hover .card-title {
    opacity: 0;
}

.middle {

    font-size: 35px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#h2 {
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: "Gill Sans";
    margin-bottom: 15px;
    box-shadow: 0 3px 3px #0a3873;
    /* text-shadow: 2px 2px 5px #0a3873; */
    background-color: #406094;
    border-radius: 10px;
    /* width: 50%; */
    /* font-family: "Bradley Hand"; */
}

.cont {
    /* background-color: #305fab; */
    /* background-color: #203c73; */
    /* background-color: #6387bf; */

    margin-top: 20px;

}

.d-grid {
    /* background: linear-gradient(110deg, #113d5e 60%, white 60%); */
    background-color: #406094;
    border-top: 10px solid #0a3873;
}



/* .title {
    
} */