/* .li {
    background-color: #288f9e;
    opacity: 0.9;
    border: none;
}

*/
.main-body {
    /* background-color: #288f9e; */
    background-color: #6387bf;
    /* background-color: #84b7de; */
    /* background: linear-gradient(110deg, #113d5e 60%, rgba(255, 255, 255, 0.793) 60%); */
    transition-delay: 250ms;
    border-top: 7px solid #072439;
    opacity: 95%;
    padding-top: 30px;
    /* GREEN #62cc62 */
}

.c-body {
    height: 250px;
}

.bd {
    padding-right: 5px;
}

/* .card-slot {
    background-color: #0f2269;
} */

#txt {
    /* color: #0b355e; */
    color: white;
    /* background-color: white; */
    background-color: #2f5084;
    font-size: 20px;
    /* border-radius: 20px; */
}

.ic-on {
    /* filter: opacity(0.5) drop-shadow(0 0 0 rgb(244, 238, 238)); */
    filter: invert(100%);
    width: 35px;
    height: 30px;
    margin-right: 5px;
    float: right;
    position: sticky;

}

.dropdown {
    display: flex;

}


/* .bt {
    

    border-color: #203c73;~+
    background-color: white;
    color: #203c73;
    font-family: "Gill Sans";
    font-size: 25px;
} */
.all-c {
    background-color: #6387bf;
    border: none;
    opacity: 95%;
    transition: transform 550ms;
    box-shadow: -6px 0 6px -5px #0a3873, 6px 0 6px -5px #0a3873, 0 4px 5px #0a3873;
    margin-bottom: 20px;

}

.all-c:hover {
    background-color: #2e4b78;
    transform: translateY(-10px);
    /* border-color: white; */
    opacity: 100%;
    cursor: pointer;

}

.btDiv {
    text-align: center;
}

#dv {
    /* border: 1px solid yellow; */
    margin-right: 3px;
}

.item1 {
    border-radius: 5px;
    background-color: #2e4b78;
    padding-top: 5px;
    padding-left: 5px;
    font-family: "Gill Sans";
    color: white;
    text-align: left;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #97b0d8, 5px 0 5px -5px #97b0d8, 0 3px 5px #97b0d8;
    /* box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    /* border: 1px solid yellow; */
}

.item1:hover {
    border-radius: 5px;
    background-color: #94b3e4;
    transform: translateY(-5px);
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    /*padding-left: 5px; */
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    margin-left: 3px;
}

.item1:active {
    border-radius: 5px;
    background-color: #698bc2;
    transform: translateY(-5px);
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    /*padding-left: 5px; */
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    margin-left: 3px;
}

/* .item2:hover {
    background-color: #2e4b78;
    transform: translateY(-5px);
    color: #62cc62;
    display: flex;
}

.item3:hover {
    background-color: #2e4b78;
    transform: translateY(-5px);
    color: #d16fa7;
    display: flex;
} */

.selected1 {
    border-radius: 5px;
    /* background-color: #2e4b78; */
    background-color: #94b3e4;
    transform: translateY(-5px);
    padding-top: 5px;
    padding-left: 5px;
    font-family: "Gill Sans";
    color: white;
    text-align: left;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 3px;

}

/* .selected2 {
    background-color: #2e4b78;
    transform: translateY(-5px);
    padding-top: 5px;
    font-family: "Gill Sans";
    color: #62cc62;
    text-align: center;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;
    display: flex;
}

.selected3 {
    background-color: #2e4b78;
    transform: translateY(-5px);
    padding-top: 5px;
    font-family: "Gill Sans";
    color: #d16fa7;
    text-align: center;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;
    display: flex;
} */

.main {
    opacity: 25;
    margin-bottom: 5px;
}

/* .bt:hover {
    background-color: #2e4b78;
    color: white;
    border-color: #3376b8;
} */

#myTab {
    margin-bottom: 20px;
}

/* .nav-link:focus {
    background-color: #2e4b78;
    color: white;
}

.nav-link {
    color: white;
    font-size: 30px;
} */

.ricerca {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    width: 50%;
    transition: 2s;
    /* display: none; */
}




#la-bel {
    color: white;
    font-size: 40px;
}

.list-content {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #2e4b78;
    border-bottom: 2px solid #2e4b78;
    transition: 2s;
    position: relative;
    z-index: -1;
}

.list-group {
    list-style: none;
}

#in {
    width: 20%;
}

.title-cont {
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

#h2 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: "Gill Sans";
}

#h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "Gill Sans";
}