<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
    </div>
</div>
<div class="main-body">
    <div class="container title-cont">
        <h1 class="mx-auto" id="h2">Lana</h1>
    </div>
    <div class="container main">
        <div class="dropdown-center dropdown row gx-0">
            <div class="col-sm-2" [ngClass]="defaultClass1" (click)="showSearch('Marca')">
                <h3>Marca</h3>
                <img src="assets/img/brand.png" class="ic-on" alt="marca" />
            </div>
            <div class="col-sm-2" [ngClass]="defaultClass2" (click)="showSearch('Grammi')">
                <h3>Grammi</h3>
                <img src="assets/img/weight.png" class="ic-on" alt="grammi" />
            </div>

            <div class="col-sm-2" id="dv" (click)="showSearch('Filtri')">
                <span [ngClass]="defaultClass3" role="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                    aria-expanded="false" data-bs-auto-close="outside">
                    <h3>Filtri</h3>
                    <img src="assets/img/filters.png" class="ic-on" alt="filtri" />
                </span>
                <div class="dropdown-menu" id="drp" aria-labelledby="dropdownMenu2" app-filtri-ricerca></div>
            </div>
        </div>
        <!-- <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link" id="lista-tab" (click)="showForm('g')">Ricerca per grammi</button>
            </li>
        </ul>
        </div> -->
    </div>

    <div class="container list-content px-3">
        <div class="container">
            <h1 class="mx-auto" id="h3">{{ricerca}}</h1>
        </div>
        <ul class="list-group list-group-flush  ">
            <div class="row">
                <div class="col-sm-4" *ngFor="let p of listaProdotti">
                    <li class="list li" data-bs-toggle="modal" data-bs-target="#bd-example-modal-lg">
                        <div class="card text-center all-c">
                            <img class="card-img-top c-body" src="{{p.image}}" alt="Card image cap">
                            <div class="card-body" id="txt">
                                <h5 class="card-title">{{p.marca}}</h5>
                                <p class="par">Click for
                                    details</p>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </ul>
    </div>

    <div class="btDiv py-3 mb-3 mx-auto">
        <a [routerLink]="['/new-prodotti']" class="btn btn-outline-primary bt">Indietro</a>
    </div>
</div>
<app-lista-dettaglio [listaProdotti]="listaFlauto"></app-lista-dettaglio>