/* .li {
    background-color: #288f9e;
    opacity: 0.9;
    border: none;
}

*/
.main-body {
    /* background-color: #288f9e; */
    background-color: #6387bf;
    /* background-color: #84b7de; */
    /* background: linear-gradient(110deg, #113d5e 60%, rgba(255, 255, 255, 0.793) 60%); */
    transition-delay: 250ms;
    border-top: 7px solid #072439;
    opacity: 95%;
    padding-top: 30px;
    /* GREEN #62cc62 */
}

.c-body {
    height: 250px;
}

.bd {
    padding-right: 5px;
}

/* .card-slot {
    background-color: #0f2269;
} */

#txt {
    /* color: #0b355e; */
    color: white;
    /* background-color: white; */
    background-color: #2f5084;
    font-size: 20px;
    /* border-radius: 20px; */

}

/* .bt {
    

    border-color: #203c73;~+
    background-color: white;
    color: #203c73;
    font-family: "Gill Sans";
    font-size: 25px;
} */
.all-c {
    background-color: #6387bf;
    border: none;
    opacity: 95%;
    transition: transform 550ms;
    box-shadow: -6px 0 6px -5px #0a3873, 6px 0 6px -5px #0a3873, 0 4px 5px #0a3873;
}

.all-c:hover {
    background-color: #2e4b78;
    transform: translateY(-10px);
    /* border-color: white; */
    opacity: 100%;
    cursor: pointer;

}

.btDiv {
    text-align: center;
}

.item1,
.item2,
.item3 {
    padding-top: 5px;
    font-family: "Gill Sans";
    color: white;
    text-align: center;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;

}

.item1:hover {
    background-color: #2e4b78;
    transform: translateY(-5px);
    color: #f7ce2a;
}

.item2:hover {
    background-color: #2e4b78;
    transform: translateY(-5px);
    color: #62cc62;
}

.item3:hover {
    background-color: #2e4b78;
    transform: translateY(-5px);
    color: #d16fa7;
}

.selected1 {
    background-color: #2e4b78;
    transform: translateY(-5px);
    padding-top: 5px;
    font-family: "Gill Sans";
    color: #f7ce2a;
    text-align: center;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;
}

.selected2 {
    background-color: #2e4b78;
    transform: translateY(-5px);
    padding-top: 5px;
    font-family: "Gill Sans";
    color: #62cc62;
    text-align: center;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;
}

.selected3 {
    background-color: #2e4b78;
    transform: translateY(-5px);
    padding-top: 5px;
    font-family: "Gill Sans";
    color: #d16fa7;
    text-align: center;
    transition: transform 400ms;
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    cursor: pointer;
}

.main {
    opacity: 25;
    margin-bottom: 5px;
}

/* .bt:hover {
    background-color: #2e4b78;
    color: white;
    border-color: #3376b8;
} */

#myTab {
    margin-bottom: 20px;
}

/* .nav-link:focus {
    background-color: #2e4b78;
    color: white;
}

.nav-link {
    color: white;
    font-size: 30px;
} */

.ricerca {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    width: 50%;
    transition: 2s;
    /* display: none; */
}




#la-bel {
    color: white;
    font-size: 40px;
}

.list-content {
    padding-top: 20px;
    border-top: 2px solid #2e4b78;
    border-bottom: 2px solid #2e4b78;
    transition: 2s;
}

.list-group {
    list-style: none;
}

#in {
    width: 20%;
}

.title-cont {
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

#h2 {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: "Gill Sans";
}

#h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "Gill Sans";
}