/* .mt-sm {
    margin-top: 95px;
}

.mt {
    margin-top: 105px;
}

.mt-md {
    margin-top: 75px;
} */





/* .customCarousel {
    width: 95%;
} */

/* #hr1 {
    width: 500px;
    height: 5px;
    color: black;
    text-align: center;
} */