.item1,
.item2,
.item3 {
    background-color: #6387bf;
    opacity: 0.75;
    /* text-shadow: 2px 2px 2px #0066cc; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    /* color: #2e4b78; */
    /* border-bottom: 2px solid #f5e6b8; */
    text-align: center;
    transition: transform 550ms;
    /* box-shadow: -5px 0 5px -5px #45628e, 5px 0 5px -5px #45628e, 0 3px 5px #45628e; */
    box-shadow: -5px 0 5px -5px #0a3873, 5px 0 5px -5px #0a3873, 0 3px 5px #0a3873;
    /* margin-right: 10px; */

}

/* .item1:hover {
    background-color: #2e4b78;
    transform: translateY(-10px);
    color: #62cc62;
}

.item2:hover {
    background-color: #2e4b78;
    transform: translateY(-10px);
    color: #f7ce2a;
}

.item3:hover {
    background-color: #2e4b78;
    transform: translateY(-10px);
    color: #e65c40e2;
} */

/* #middle {
     border-right: 1px solid white;
    border-left: 1px solid white; 
} */

.main {
    /* background-color: #203c73;*/
    /* margin-top: 20px;
    
    border-top: 1px solid #f5e6b8; */
    opacity: 30;
}

.bg {
    /* background-color: #203c73; */
    /* background-color: #6387bf; */
    /* background-color: rgb(27, 54, 89); */
    opacity: 0.97;
    border-top: 3px solid #45628e;
    margin-top: 20px;
}

@media (max-width:560px) {

    .item1,
    .item2,
    .item3 {
        margin-bottom: 15px;
    }
}

/* .vr {
    width: 100px;  
    border: 0.3px solid white;
    color: white;
    opacity: 1;
    padding: 0 0 0 0;
     height: 160px;

} */