/* #ftt {
    width: 100%;
    position: absolute;
} */

.footxt {
    /* color: #305fab; */
    color: white;
    /* font-family: "Chalkduster"; */
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}