<!-- <div class="container"> -->

<footer class="text-center text-white mx-auto" style="background-color:   #0a3873;">
    <!-- DEFAULT COLOR style="background-color: #f1f1f1; #a8d3ed - dark blue #205473 - violet #795ab0" -->
    <!-- Grid container -->
    <div class="pt-4" style="background-color: #6387bf;">
        <!-- Section: Social media -->
        <!-- <section class="mb-4">
                
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

                
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section> -->
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <span class="footxt"> © 2020 Copyright:
            MilleIdee |
            <span class="footxt"> Seguici su </span>
            <a class="text-dark" href="https://www.facebook.com/MILLE-IDEE-1433815530187896/"><img
                    src="assets/img/face-icon.ico" /></a>
            |
            <a class="text-dark" href="https://instagram.com/mille_idee_merceria?igshid=YmMyMTA2M2Y="><img
                    src="assets/img/instagram.ico" /></a></span>
    </div>
    <!-- Copyright -->
</footer>

<!-- </div> -->