/* .phg {
    background-color: #161c40;
    opacity: 0.95;
    border-radius: 6px;
    filter: blur(2px);

} */

#h2 {
    text-align: center;
    color: #305fab;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item {
    transition: .5s ease-in-out;
}

.item:hover {
    filter: brightness(80%);
}

.title-cont {
    border-bottom: 2px solid #113d5e;
}

.title-cont {
    margin-top: 100px;
}

@media (max-width:435px) {
    #h2 {
        font-size: 45px;
    }
}