<div class="title-cont">
    <h1 class="container mx-auto" id="h2">Galleria foto</h1>
</div>

<div class="container phg">
    <div class="row">
        <div class="col-md-4 mt-3 col-lg-4">
            <a href="assets/img/expImg/exp_adriafil_lana.jpg">
                <img src="assets/img/expImg/exp_adriafil_lana.jpg" class="img-fluid" alt="image"></a>
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <a href="assets/img/expImg/exp_banjo_lana.jpg"> <img src="assets/img/expImg/exp_banjo_lana.jpg"
                    class="img-fluid" alt="image"></a>
        </div>
        <div class="col-md-4 mt-3 col-lg-4">
            <img src="assets/img/lana.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="assets/img/sewing-machine.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-6">
            <img src="assets/img/lana2.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/img/inside.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="assets/img/deepBlue.jpeg" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="https://source.unsplash.com/collection/190726/1500x900" class="img-fluid" alt="image">
        </div>
        <div class="col-md-4 mt-3 col-lg-3">
            <img src="https://source.unsplash.com/collection/190726/1500x900" class="img-fluid" alt="image">
        </div>
    </div>
</div>


<!-- 
    PROVA 2
    <h1 class="container mx-auto" id="h2">Galleria foto</h1>
<div class="fancy-gallery mb-5">
    <div clas="row">
        <div class="item mb-4 col-6 col-sm-4">
            <a v href="assets/img/abstract-blue.jpeg" data-fancybox="gallery" class=" img-fluid">
                <img src="assets/img/abstract-blue.jpeg" class="img-fluid" alt="image">
            </a>
        </div>
        <div class="item mb-4 col-6 col-sm-4 ">
            <a data-fancybox="trigger-element-gallery" href="assets/img/lana.jpeg" class="img-fluid">
                <img src="assets/img/lana.jpeg" data-fancybox="gallery" class="img-fluid" alt="image">
            </a>
        </div>
        <div class="item mb-4 col-6 col-sm-4">
            <a data-fancybox="trigger-element-gallery" href="assets/img/lana2.jpeg" data-fancybox="gallery"
                class=" img-fluid">
                <img src="assets/img/lana2.jpeg" class="img-fluid" alt="image">
            </a>
        </div>
        <div class="item mb-4 col-6 col-sm-4">
            <a data-fancybox="trigger-element-gallery" href="assets/img/blueWall2.jpeg" data-fancybox="gallery"
                class=" img-fluid">
                <img src="assets/img/blueWall2.jpeg" class="img-fluid" alt="image">
            </a>
        </div>
    </div>
</div> -->