#txt {
    color: #305fab;
    font-size: 25px;
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: "Gill Sans";
}

#leftLink {
    color: #305fab;
    font-size: 25px;
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: "Gill Sans";
}

#offcanvasRightLabel,
#offcanvasStartLabel {
    color: #305fab;
    /* font-family: "Chalkduster"; */
    font-family: "Gill Sans";
    font-size: 35px;

}

#cnt {
    background-color: #e9f1f2;
}

#offcanvasTopLabel {
    color: white;
    /* font-family: "Chalkduster"; */
    font-family: "Gill Sans";
    font-size: 45px;
}

#offcanvasTop {
    background-color: #203c73;
}

#offcanvasStart {
    background-color: #e9f1f2;
}

#customS {
    color: white;
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: "Gill Sans";
    font-size: 20px;
}

#offcanvasRight {
    background-color: #e9f1f2;
}

.btt {
    background-color: white
}

.customO {
    /* width: 40%; */
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: "Gill Sans";


}

#leftLink:hover {
    color: #99b7bf;
}

/* a:hover {
    font-style: #3293a8;
} */