<nav class="navbar fixed-top navbar-expand-lg navbar navbar-light" style="background-color: #e9f1f2;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Homepage">Home</a>
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" routerLink="/prodotti" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="List of Products">Products</a>
                <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Photogallery">Photos</a>
                <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" href="">Contacts</a>
                <!-- data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Show Contacts"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="About the shop" -->
                <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop" href="">About</a>
                <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart"
                    aria-controls="offcanvasStart" href="">Hours</a>
            </div>
        </div>
        <!-- <span id="txt" class="navbar-nav ml-auto">LANA - FILATI - TESSUTI - MERCERIA - INTIMO</span> -->
        <a class="nav-link" id="leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal1" href="">LANA |</a>
        <a class="nav-link" id="leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal2" href="">FILATI
            |</a><a class="nav-link" id="leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal3"
            href="">MERCERIA |</a><a class="nav-link" id="leftLink" data-bs-toggle="modal"
            data-bs-target="#exampleModal4" href="">TESSUTI |</a><a class="nav-link" id="leftLink"
            data-bs-toggle="modal" data-bs-target="#exampleModal5" href="">INTIMO |</a>



    </div>
</nav>
<!-- <a class="nav-link leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal1" href="">LANA</a> - -->

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Contacts</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- CONTACTS OFF CANVAS -->
    <div class="offcanvas-body">
        <app-contatti></app-contatti>
    </div>
</div>
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">Storia</h5>

        <button type="button" class="btn-close text-reset btt" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- ABOUT OFF CANVAS -->
    <div class="offcanvas-body" id="customS">
        <app-about></app-about>
    </div>
</div>
<div class="offcanvas offcanvas-start customO" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasStartLabel">Orari Apertura</h5>

        <button type="button" class="btn-close text-reset btt" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- HOURS OFF CANVAS -->
    <div class="offcanvas-body" id="customO">
        <app-orari></app-orari>
    </div>
</div>
<!-- MODALS CARD FOR PRODUCTS LINKS -->
<app-modals-card></app-modals-card>