@import url('https://fonts.googleapis.com/css2?family=Carme&family=Rouge+Script&display=swap');

#txt {
    color: #305fab;
    font-size: 25px;
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#leftLink {
    /* color: #305fab; */
    color: #e9f1f2;
    font-size: 20px;
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#offcanvasRightLabel,
#offcanvasStartLabel {
    color: #305fab;
    /* font-family: "Chalkduster"; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;

}

#cnt {
    background-color: #e9f1f2;
}

#offcanvasTopLabel {
    color: white;
    /* font-family: "Chalkduster"; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}

#offcanvasTop {
    background-color: #203c73;
}

#offcanvasStart {
    background-color: #e9f1f2;
}

#customS {
    color: white;
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#offcanvasRight {
    background-color: #e9f1f2;
}

.btt {
    background-color: white
}

.customO {
    /* width: 40%; */
    /* font-family: Copperplate, "Copperplate Gothic Light", fantasy; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#leftLink:hover {
    color: #99b7bf;
}

/* a:hover {
    font-style: #3293a8;
} */

.menu-button {
    margin-left: 150px;

}

.navbar-toggler {

    background-color: #406094;
}

/* .navbar-toggler-icon {
    color: white;
} */

.lnk,
#prod1,
#prod2,
#prod3,
#prod5 {
    color: white;
}

#prod4,
#prod6 {
    color: lightgray;
}

.nb {
    background: linear-gradient(110deg, #406094 60%, #113d5e 60%);
}

h2 {
    /* color: #CEF0D4; */
    color: #fcfeff;
    font-family: 'Rouge Script', cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
    margin-left: 10px;
}

.lnk {
    margin-bottom: 5px;
}

/* .neg {
    cursor: not-allowed;
} */