<nav class="fixed-top navbar-expand-lg navbar navbar-light nb" style="background-color:#406094;">
    <!-- #e9f1f2 -->
    <div class="container-fluid">

        <a class="nav-link lnk" routerLink="" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Homepage">Home</a>

        <!-- <a class="navbar-toggler menu-button" href="#" role="button" id="navbarNavAltMarkup"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </a> -->
        <button class="navbar-toggler menu-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- <div class="dropdown-menu" aria-labelledby="navbarNavAltMarkup"> -->
            <div class="navbar-nav ">
                <a class="nav-link" id="prod1" aria-current="page" routerLink="/new-prodotti" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="List of Products" (click)="collapseHide()">Prodotti</a>
                <a class="nav-link" id="prod2" routerLink="/gallery" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="Photogallery">Foto</a>
                <a class="nav-link" id="prod3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" href="">Contatti</a>
                <a class="nav-link" id="prod5" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart"
                    aria-controls="offcanvasStart" href="">Orario</a>
                <!-- <a class="nav-link disabled" id="prod4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop" href="">Il Negozio</a> -->
                <a class="nav-link disabled" id="prod6" routerLink="/log-in" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Photogallery">Area personale</a>
                <h2>Mille Idee </h2>
            </div>

        </div>
        <!-- <h2>Mille Idee </h2> -->

    </div>




    <!-- <span id="txt" class="navbar-nav ml-auto">LANA - FILATI - TESSUTI - MERCERIA - INTIMO</span> -->

    <a class="nav-link lk" id="leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal1" href="">LANA</a>

    <a class="nav-link lk" id="leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal2" href="">FILATI
    </a>

    <a class="nav-link lk" id="leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal3" href="">MERCERIA</a>




    <!-- <a class="nav-link lk" id="leftLink" data-bs-toggle="modal"
            data-bs-target="#exampleModal4" href="">TESSUTI</a><a class="nav-link lk" id="leftLink"
            data-bs-toggle="modal" data-bs-target="#exampleModal5" href="">INTIMO</a> -->




</nav>
<!-- <a class="nav-link leftLink" data-bs-toggle="modal" data-bs-target="#exampleModal1" href="">LANA</a> - -->

<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Contatti</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- CONTACTS OFF CANVAS -->
    <div class="offcanvas-body" id="cnt">
        <app-contatti></app-contatti>
    </div>
</div>
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">Storia</h5>

        <button type="button" class="btn-close text-reset btt" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- ABOUT OFF CANVAS -->
    <div class="offcanvas-body" id="customS">
        <app-about></app-about>
    </div>
</div>
<div class="offcanvas offcanvas-start customO" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasStartLabel">Orari Apertura</h5>

        <button type="button" class="btn-close text-reset btt" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- HOURS OFF CANVAS -->
    <div class="offcanvas-body" id="customO">
        <app-orari></app-orari>
    </div>
</div>
<!-- MODALS CARD FOR PRODUCTS LINKS -->
<app-modals-card></app-modals-card>