#h2 {
    /* font-family: "Courier New"; */
    font-family: "Chalkduster";
    /* font-family: Copperplate, "Copperplate Gothic Light"; */
    text-align: center;
    color: #91a3eb;
    font-size: 80px;
    text-shadow: 2px 2px 2px #0066cc;
    /* background-color: white;
    border-radius: 5px;
    border: 1px #305fab solid; */
    /* border-bottom: 2px solid white;
    border-left: 0.5px solid white;
    border-right: 2px solid white;
    border-top: 0.5px solid white;
    border-radius: 8px; */
    width: 50%;
}

hr {
    /* color: white; */
    height: 3px;
    color: #305fab;

}

.main {
    border-top: 2px solid grey;
    border-radius: 8px;
    /* background-color: #305fab; */
    /* background-color: #e9f1f2; */
}