<!-- <div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <button class="nav-link" id="lista-tab" (click)="showForm('g')">Ricerca per grammi</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="profile-tab" (click)="showForm('c')">Ricerca per composizione</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="tutti-tab" (click)="getListaProdotti()">Tutti</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact"
                aria-selected="false">Filtri</button>
        </li>
    </ul>
</div>
<div class="container ricerca" *ngIf="showFGrammi">
    <div class="input-group">
        <label id="la-bel">Grammi: </label>
        <input type="number" [(ngModel)]="grammi" class="in" max="200" min="5">
        <button class="btn btn-outline-primary   bt" (click)="cercaByGrammi()">Cerca</button>
    </div>
</div>
<div class="container ricerca" *ngIf="showFComp">
    <div class="input-group">
        <label id="la-bel">Composizione: </label>
        
        <select [(ngModel)]="composizione" class="in">
            <option value="Lana">Lana</option>
            <option value="Acrilico">Acrilico</option>
            <option value="Cotone">Cotone</option>
            <option value="Lana,Acrilico">Lana - Acrilico</option>
            <option value="Lana,Cotone">Lana - Cotone</option>
            <option value="Pura Lana">Pura Lana</option>
        </select>
        <button class="btn btn-outline-primary   bt" (click)="cercaByComposizione()">Cerca</button>
    </div>
</div> -->