/* You can add global styles to this file, and also import other style files */
body {
    /* background-image: url('assets/img/lastBlueBg.jpeg'); */
    /* background-image: url('assets/img/angledBg.png'); */
    /* background-color: #305fab;   MAIN COLOR*/
    /* background-color: #205473; */
    /* background-color: lightgrey; */
    background-size: cover;
    background-repeat: no-repeat;
}

.bt {
    /* width: 100%; */

    border-color: #203c73;
    background-color: white;
    color: #203c73;
    font-family: "Gill Sans";
    font-size: 25px;
}

.bt:hover {
    background-color: #203c73;
    color: white;
    border-color: #203c73;
}