/* You can add global styles to this file, and also import other style files */
body {
    /* background-image: url('assets/img/lastBlueBg.jpeg'); */
    /* background-image: url('assets/img/angledBg.png'); */
    /* background-color: #305fab;   MAIN COLOR*/
    /* background-color: #205473; */
    /* background-color: lightgrey; */
    /* background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(110deg, white 60%, #235982 60%);
    /* background: linear-gradient(70deg, #4479a1 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #203c73 60%, white 60%); */
    /* background: linear-gradient(110deg, rgba(243, 243, 246, 0.952) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #283b7a 66%, white 66%); */
}

.bt {
    /* width: 100%; */

    border-color: #203c73;
    background-color: white;
    color: #203c73;
    font-family: "Gill Sans";
    font-size: 25px;
}

.bt:hover {
    background-color: #203c73;
    color: white;
    border-color: #203c73;
}