th {
    /* border: 1px solid rgb(47, 61, 165); */
    padding: 5px;
    color: cornsilk;
}

.hd {
    background-color: #113d5e;
    text-align: center;
}

.cont {
    background-color: #6387bf;

    border-top: 2px solid #2e4b78;
    border-bottom: 2px solid #2e4b78;
    /* position: relative; */
}

#hd2 {
    color: rgb(252, 252, 252);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.butt {
    background-color: rgb(98, 156, 192);
    border: none;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #406094;
    color: cornsilk;

}

tr {
    margin-top: 10px;
    border-radius: 20px;
}

.modal-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border-right: 2px solid grey;
    border-left: 2px solid grey;
    margin-bottom: 10px;
}


.card-body {
    background-color: #2f5084;
    color: white;
}

.nb {

    position: absolute;
    top: 0px;

}

.ls {
    margin-top: 90px;
    margin-bottom: 30px;

}

.modal-header {
    text-align: center;
}

.all-c {
    border: none;
}