<div class="modal fade" id="bd-example-modal-lg" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable">
        <div class="container modal-content cont">
            <div class="modal-header">
                <h2 class="modal-title" id="hd2">{{marca}}</h2>
                <!-- <button type="button" class="close" data-dismiss="modal">X</button> -->
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <!-- <h4 id="hd2">{{marca}}</h4> -->
            </div>

            <!-- <nav class="fixed-top navbar navbar-light nb" style="background-color:#406094;">
               
            </nav> -->
            <div class="modal-body">
                <ul class="list-group list-group-flush ls">

                    <li *ngFor="let p of listaProdotti">
                        <div class="card text-center all-c">
                            <img class="card-img-top c-body" src="{{p.foto}}" alt="Card image cap">
                            <div class="card-body" id="txt">
                                <h5 class="card-title">{{p.id}} - {{p.tipo}}</h5>
                                <p class="card-text"><b>Grammi:</b> {{p.grammi}},<b> Colore:</b>
                                    {{p.colore}}</p>
                                <p class="card-text"><b>Composizione:</b> {{p.composizione}}</p>
                                <p class="card-text"><b>Prezzo:</b> &euro; {{p.prezzo}}</p>
                            </div>

                        </div>

                        <!-- <div class="card">
                        <div class="modal-body">
                            <img class="card-img-top" src="{{p.foto}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{p.id}} - {{p.tipo}}</h5>
                                <p class="card-text"><b>Grammi:</b> {{p.grammi}},<b> Colore:</b>
                                    {{p.colore}}</p>
                                <p class="card-text"><b>Composizione:</b> {{p.composizione}}</p>
                                <p class="card-text"><b>Prezzo:</b> &euro; {{p.prezzo}}</p>
                            </div>
                        </div>
                    </div> -->
                    </li>
                    <!-- <td>
                            <div class="modal fade" id="e" tabindex="-1"
                                aria-labelledby="exampleModal1Label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="ratio ratio-16x9">
                                            <iframe src="" title="Flauto" allowfullscreen></iframe>
                                        </div>

                                        <div class="text-center py-3">
                                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td> -->
                </ul>
            </div>
        </div>

    </div>
</div>