<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="modal-body">
                    <img class="card-img-top" src="assets/img/lana2.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lana</h5>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up
                            the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-outline-primary bt">Mostra Prodotti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="modal-body">
                    <img class="card-img-top" src="assets/img/lana2.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Filati</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-outline-primary bt">Mostra Prodotti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="modal-body">
                    <img class="card-img-top" src="assets/img/lana2.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Merceria</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-outline-primary bt">Mostra Prodotti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="modal-body">
                    <img class="card-img-top" src="assets/img/lana2.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tessuti</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-outline-primary bt">Mostra Prodotti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card">
                <div class="modal-body">
                    <img class="card-img-top" src="assets/img/lana2.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Intimo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-outline-primary bt">Mostra Prodotti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>